.image.is-4by3 img {
  height: 150px;
}

.card-image {
  height: 150px;
}

.content {
  height: 200px;
}

.card .media:not(:last-child) {
  margin-bottom: 10px;
}

.card {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

.card:hover {
  transform: scale(1.05); 
  opacity: 0.9; 
}
